<template>
    <form action="" class="forms-sample" enctype="multipart/form-data" name="materialinfo">
        <div class="col-md-12 row">  <!--Label: Material, Attributes: material-->
            <div class="form-group col-md-6">
                <label for="material" class=" col-form-label">Material</label>
                <div class="">
                    <input type="text" class="form-control" id="material"
                           v-model="material"
                           name="material"
                           :class="{ 'is-invalid' : errors.material }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.material">
                        <strong>{{ errors.material.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Category, Attributes: category-->
            <div class="form-group col-md-6">
                <label for="category" class=" col-form-label">Category</label>
                <div class="">
                    <input type="text" class="form-control" id="category"
                           v-model="category"
                           name="category"
                           :class="{ 'is-invalid' : errors.category }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.category">
                        <strong>{{ errors.category.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 row">
            <!--Label: Chemical Composition, Attributes: composition-->
            <div class="form-group col-md-6">
                <label for="composition" class=" col-form-label">Chemical Composition</label>
                <div class="">
                    <input type="text" class="form-control" id="composition"
                           v-model="composition"
                           name="composition"
                           :class="{ 'is-invalid' : errors.composition }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.composition">
                        <strong>{{ errors.composition.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Appearance, Attributes: appearance-->
            <div class="form-group col-md-6">
                <label for="appearance" class=" col-form-label">Appearance</label>
                <div class="">
                    <input type="text" class="form-control" id="appearance"
                           v-model="appearance"
                           name="appearance"
                           :class="{ 'is-invalid' : errors.appearance }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.appearance">
                        <strong>{{ errors.appearance.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 row">
            <!--Label: Crystal Structure, Attributes: structure-->
            <div class="form-group col-md-6">
                <label for="structure" class=" col-form-label">Crystal Structure</label>
                <div class="">
                    <input type="text" class="form-control" id="structure"
                           v-model="structure"
                           name="structure"
                           :class="{ 'is-invalid' : errors.structure }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.structure">
                        <strong>{{ errors.structure.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Melting Point, Attributes: meltingpoint-->
            <div class="form-group col-md-6">
                <label for="meltingpoint" class=" col-form-label">Melting Point</label>
                <div class="">
                    <input type="text" class="form-control" id="meltingpoint"
                           v-model="meltingpoint"
                           name="meltingpoint"
                           :class="{ 'is-invalid' : errors.meltingpoint }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.meltingpoint">
                        <strong>{{ errors.meltingpoint.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 row">
            <!--Label: Boiling Point, Attributes: boilingpoint-->
            <div class="form-group col-md-6">
                <label for="boilingpoint" class=" col-form-label">Boiling Point</label>
                <div class="">
                    <input type="text" class="form-control" id="boilingpoint"
                           v-model="boilingpoint"
                           name="boilingpoint"
                           :class="{ 'is-invalid' : errors.boilingpoint }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.boilingpoint">
                        <strong>{{ errors.boilingpoint.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Density, Attributes: density-->
            <div class="form-group col-md-6">
                <label for="density" class=" col-form-label">Density</label>
                <div class="">
                    <input type="text" class="form-control" id="density"
                           v-model="density"
                           name="density"
                           :class="{ 'is-invalid' : errors.density }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.density">
                        <strong>{{ errors.density.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 row">
            <!--Label: Shear Modulus, Attributes: shearmodulus-->
            <div class="form-group col-md-6">
                <label for="shearmodulus" class=" col-form-label">Shear Modulus</label>
                <div class="">
                    <input type="text" class="form-control" id="shearmodulus"
                           v-model="shearmodulus"
                           name="shearmodulus"
                           :class="{ 'is-invalid' : errors.shearmodulus }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.shearmodulus">
                        <strong>{{ errors.shearmodulus.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Young's Modulus, Attributes: youngsmodulus-->
            <div class="form-group col-md-6">
                <label for="youngsmodulus" class=" col-form-label">Young's Modulus</label>
                <div class="">
                    <input type="text" class="form-control" id="youngsmodulus"
                           v-model="youngsmodulus"
                           name="youngsmodulus"
                           :class="{ 'is-invalid' : errors.youngsmodulus }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.youngsmodulus">
                        <strong>{{ errors.youngsmodulus.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 row">
            <!--Label: Bulk Modulus, Attributes: bulkmodulus-->
            <div class="form-group col-md-6">
                <label for="bulkmodulus" class=" col-form-label">Bulk Modulus</label>
                <div class="">
                    <input type="text" class="form-control" id="bulkmodulus"
                           v-model="bulkmodulus"
                           name="bulkmodulus"
                           :class="{ 'is-invalid' : errors.bulkmodulus }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.bulkmodulus">
                        <strong>{{ errors.bulkmodulus.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Mohs hardness, Attributes: mohshardness-->
            <div class="form-group col-md-6">
                <label for="mohshardness" class=" col-form-label">Mohs hardness</label>
                <div class="">
                    <input type="text" class="form-control" id="mohshardness"
                           v-model="mohshardness"
                           name="mohshardness"
                           :class="{ 'is-invalid' : errors.mohshardness }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.mohshardness">
                        <strong>{{ errors.mohshardness.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 row">
            <!--Label: Formation Energy, Attributes: formationenergy-->
            <div class="form-group col-md-6">
                <label for="formationenergy" class=" col-form-label">Formation Energy</label>
                <div class="">
                    <input type="text" class="form-control" id="formationenergy"
                           v-model="formationenergy"
                           name="formationenergy"
                           :class="{ 'is-invalid' : errors.formationenergy }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.formationenergy">
                        <strong>{{ errors.formationenergy.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Band Gap Energy, Attributes: bandgapenergy-->
            <div class="form-group col-md-6">
                <label for="bandgapenergy" class=" col-form-label">Band Gap Energy</label>
                <div class="">
                    <input type="text" class="form-control" id="bandgapenergy"
                           v-model="bandgapenergy"
                           name="bandgapenergy"
                           :class="{ 'is-invalid' : errors.bandgapenergy }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.bandgapenergy">
                        <strong>{{ errors.bandgapenergy.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 row">
            <!--Label: Vickers Hardness, Attributes: vickershardness-->
            <div class="form-group col-md-6">
                <label for="vickershardness" class=" col-form-label">Vickers Hardness</label>
                <div class="">
                    <input type="text" class="form-control" id="vickershardness"
                           v-model="vickershardness"
                           name="vickershardness"
                           :class="{ 'is-invalid' : errors.vickershardness }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.vickershardness">
                        <strong>{{ errors.vickershardness.toString() }}</strong>
                    </div>
                </div>
            </div>

            <!--Label: Image, Attributes: image-->
            <div class="form-group col-md-6">
                <label for="image" class=" col-form-label">Image</label>
                <div class="">
                    <!--<input type="file" name="img[]" class="file-upload-default">-->
                    <input type="file" class="form-control dropbox" id="image"
                           @change="imageChanged"
                           name="image"
                           accept="image/*"
                           :class="{ 'is-invalid' : errors.image }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.image">
                        <strong>{{ errors.image.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mr-2" @click.prevent="addMaterial">Add Material
            <i class="fa fa-save" :class="{'fa fa-spin fa-spinner': adddingMaterial}"></i>
        </button>
    </form>
</template>

<script>
    export default {
        name: "createMaterial",
        data() {
            return {
                errors: '',
                material: '',
                category: '',
                composition: '',
                appearance: '',
                structure: '',
                meltingpoint: '',
                boilingpoint: '',
                density: '',
                shearmodulus: '',
                youngsmodulus: '',
                bulkmodulus: '',
                image: '',
                formationenergy: '',
                bandgapenergy: '',
                mohshardness: '',
                vickershardness: '',
                adddingMaterial: false
            }
        },
        methods: {
            addMaterial() {
                var form = document.forms.namedItem("materialinfo");
                var oData = new FormData(form);
                this.adddingMaterial = true;
                axios.post('/admin/addmaterial', oData).then(response => {
                    this.material = '';
                    this.category = '';
                    this.composition = '';
                    this.appearance = '';
                    this.structure = '';
                    this.meltingpoint = '';
                    this.boilingpoint = '';
                    this.density = '';
                    this.shearmodulus = '';
                    this.youngsmodulus = '';
                    this.bulkmodulus = '';
                    this.image = '';
                    this.formationenergy = '';
                    this.bandgapenergy = '';
                    this.mohshardness = '';
                    this.vickershardness = '';
                    this.adddingMaterial = false;
                }).catch(error => {
                    this.errors = error.response.data.errors;
                    this.adddingMaterial = false;
                });
            },
            imageChanged: function () {
                oData.append('image', event.target.files[0])
                // this.image = event.target.files[0];
            }
        },
    }
</script>

<style scoped>
    .dropbox {
        outline: 2px dashed grey; /* the dash box */
        outline-offset: -10px;
        background: lightcyan;
        color: dimgray;
        padding: 10px 10px;
        min-height: 200px; /* minimum height */
        position: relative;
        cursor: pointer;
    }

    .input-file {
        opacity: 0; /* invisible but it's there! */
        width: 100%;
        height: 200px;
        position: absolute;
        cursor: pointer;
    }

    .dropbox:hover {
        background: lightblue; /* when mouse over to the drop zone, change color */
    }

    .dropbox p {
        font-size: 1.2em;
        text-align: center;
        padding: 50px 0;
    }
</style>
