<template>
    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Material
                </th>
                <th>
                    Composition
                </th>
                <th>
                    Appearance
                </th>
                <th>
                    Crystal Structure
                </th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(material,index) in materials">
                <td>{{index + 1}}</td>
                <td>{{ material.material }}</td>
                <td>{{ material.composition }}</td>
                <td>{{ material.appearance }}</td>
                <td>{{ material.structure }}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                            :data-material="material.material"
                            :data-composition="material.composition"
                            :data-appearance="material.appearance"
                            :data-structure="material.structure"
                            :data-meltingpoint="material.meltingpoint"
                            :data-boilingpoint="material.boilingpoint"
                            :data-density="material.density"
                            :data-shearmodulus="material.shearmodulus"
                            :data-youngsmodulus="material.youngsmodulus"
                            :data-bulkmodulus="material.bulkmodulus"
                            :data-id="material.id"
                            :data-formationenergy="material.formationenergy"
                            :data-bandgapenergy="material.bandgapenergy"
                            :data-mohshardness="material.mohshardness"
                            :data-vickershardness="material.vickershardness"
                    >Edit
                    </button>

                </td>
                <td>
                    <button type="button" class="btn btn-danger" @click="deleteMaterial(index,material.id)">
                        <i class="fa fa-trash" v-if="!deletingMaterial[index]"></i>
                        <i class="fa fa-spin fa-spinner" v-else></i>
                    </button>

                </td>
                <!--<td>{{ material.meltingpoint }}</td>-->
                <!--<td>{{ material.boilingpoint }}</td>-->
                <!--<td>{{ material.density }}</td>-->
                <!--<td>{{ material.shearmodulus }}</td>-->
                <!--<td>{{ material.youngsmodulus }}</td>-->
                <!--<td>{{ material.bulkmodulus }}</td>-->
            </tr>
            </tbody>

        </table>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="forms-sample" name="editmaterialform" enctype="multipart/form-data">
                            <!--<input type="hidden" name="_method" value="PATCH">-->
                            <div class="col-md-12 row">  <!--Label: Material, Attributes: material-->
                                <div class="form-group col-md-6">
                                    <label for="material" class=" col-form-label">Material</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="material"
                                               v-model="material"
                                               name="material"
                                               :class="{ 'is-invalid' : errors.material }" autocomplete="off">
                                        <div class="invalid-feedback" v-if="errors.material">
                                            <strong>{{ errors.material.toString() }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <!--Label: Category, Attributes: category-->
                                <div class="form-group col-md-6">
                                    <label for="category" class=" col-form-label">Category</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="category"
                                               v-model="category"
                                               name="category"
                                               :class="{ 'is-invalid' : errors.category }" autocomplete="off">
                                        <div class="invalid-feedback" v-if="errors.category">
                                            <strong>{{ errors.category.toString() }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 row">
                                <!--Label: Chemical Composition, Attributes: composition-->
                                <div class="form-group col-md-6">
                                    <label for="composition" class=" col-form-label">Chemical Composition</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="composition"
                                               v-model="composition"
                                               name="composition"
                                               :class="{ 'is-invalid' : errors.composition }" autocomplete="off">
                                        <div class="invalid-feedback" v-if="errors.composition">
                                            <strong>{{ errors.composition.toString() }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <!--Label: Appearance, Attributes: appearance-->
                                <div class="form-group col-md-6">
                                    <label for="appearance" class=" col-form-label">Appearance</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="appearance"
                                               v-model="appearance"
                                               name="appearance"
                                               :class="{ 'is-invalid' : errors.appearance }" autocomplete="off">
                                        <div class="invalid-feedback" v-if="errors.appearance">
                                            <strong>{{ errors.appearance.toString() }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 row">
                                <!--Label: Crystal Structure, Attributes: structure-->
                                <div class="form-group col-md-6">
                                    <label for="structure" class=" col-form-label">Crystal Structure</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="structure"
                                               v-model="structure"
                                               name="structure"
                                               :class="{ 'is-invalid' : errors.structure }" autocomplete="off">
                                        <div class="invalid-feedback" v-if="errors.structure">
                                            <strong>{{ errors.structure.toString() }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <!--Label: Melting Point, Attributes: meltingpoint-->
                                <div class="form-group col-md-6">
                                    <label for="meltingpoint" class=" col-form-label">Melting Point</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="meltingpoint"
                                               v-model="meltingpoint"
                                               name="meltingpoint"
                                               :class="{ 'is-invalid' : errors.meltingpoint }" autocomplete="off">
                                        <div class="invalid-feedback" v-if="errors.meltingpoint">
                                            <strong>{{ errors.meltingpoint.toString() }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 row">
                                <!--Label: Boiling Point, Attributes: boilingpoint-->
                                <div class="form-group col-md-6">
                                    <label for="boilingpoint" class=" col-form-label">Boiling Point</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="boilingpoint"
                                               v-model="boilingpoint"
                                               name="boilingpoint"
                                               :class="{ 'is-invalid' : errors.boilingpoint }" autocomplete="off">
                                        <div class="invalid-feedback" v-if="errors.boilingpoint">
                                            <strong>{{ errors.boilingpoint.toString() }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <!--Label: Density, Attributes: density-->
                                <div class="form-group col-md-6">
                                    <label for="density" class=" col-form-label">Density</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="density"
                                               v-model="density"
                                               name="density"
                                               :class="{ 'is-invalid' : errors.density }" autocomplete="off">
                                        <div class="invalid-feedback" v-if="errors.density">
                                            <strong>{{ errors.density.toString() }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 row">
                                <!--Label: Shear Modulus, Attributes: shearmodulus-->
                                <div class="form-group col-md-6">
                                    <label for="shearmodulus" class=" col-form-label">Shear Modulus</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="shearmodulus"
                                               v-model="shearmodulus"
                                               name="shearmodulus"
                                               :class="{ 'is-invalid' : errors.shearmodulus }" autocomplete="off">
                                        <div class="invalid-feedback" v-if="errors.shearmodulus">
                                            <strong>{{ errors.shearmodulus.toString() }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <!--Label: Young's Modulus, Attributes: youngsmodulus-->
                                <div class="form-group col-md-6">
                                    <label for="youngsmodulus" class=" col-form-label">Young's Modulus</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="youngsmodulus"
                                               v-model="youngsmodulus"
                                               name="youngsmodulus"
                                               :class="{ 'is-invalid' : errors.youngsmodulus }" autocomplete="off">
                                        <div class="invalid-feedback" v-if="errors.youngsmodulus">
                                            <strong>{{ errors.youngsmodulus.toString() }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 row">
                                <!--Label: Bulk Modulus, Attributes: bulkmodulus-->
                                <div class="form-group col-md-6">
                                    <label for="bulkmodulus" class=" col-form-label">Bulk Modulus</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="bulkmodulus"
                                               v-model="bulkmodulus"
                                               name="bulkmodulus"
                                               :class="{ 'is-invalid' : errors.bulkmodulus }" autocomplete="off">
                                        <div class="invalid-feedback" v-if="errors.bulkmodulus">
                                            <strong>{{ errors.bulkmodulus.toString() }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <!--Label: Mohs hardness, Attributes: mohshardness-->
                                <div class="form-group col-md-6">
                                    <label for="mohshardness" class=" col-form-label">Mohs hardness</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="mohshardness"
                                               v-model="mohshardness"
                                               name="mohshardness"
                                               :class="{ 'is-invalid' : errors.mohshardness }" autocomplete="off">
                                        <div class="invalid-feedback" v-if="errors.mohshardness">
                                            <strong>{{ errors.mohshardness.toString() }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 row">
                                <!--Label: Formation Energy, Attributes: formationenergy-->
                                <div class="form-group col-md-6">
                                    <label for="formationenergy" class=" col-form-label">Formation Energy</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="formationenergy"
                                               v-model="formationenergy"
                                               name="formationenergy"
                                               :class="{ 'is-invalid' : errors.formationenergy }" autocomplete="off">
                                        <div class="invalid-feedback" v-if="errors.formationenergy">
                                            <strong>{{ errors.formationenergy.toString() }}</strong>
                                        </div>
                                    </div>
                                </div>
                                <!--Label: Band Gap Energy, Attributes: bandgapenergy-->
                                <div class="form-group col-md-6">
                                    <label for="bandgapenergy" class=" col-form-label">Band Gap Energy</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="bandgapenergy"
                                               v-model="bandgapenergy"
                                               name="bandgapenergy"
                                               :class="{ 'is-invalid' : errors.bandgapenergy }" autocomplete="off">
                                        <div class="invalid-feedback" v-if="errors.bandgapenergy">
                                            <strong>{{ errors.bandgapenergy.toString() }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 row">
                                <!--Label: Vickers Hardness, Attributes: vickershardness-->
                                <div class="form-group col-md-6">
                                    <label for="vickershardness" class=" col-form-label">Vickers Hardness</label>
                                    <div class="">
                                        <input type="text" class="form-control" id="vickershardness"
                                               v-model="vickershardness"
                                               name="vickershardness"
                                               :class="{ 'is-invalid' : errors.vickershardness }" autocomplete="off">
                                        <div class="invalid-feedback" v-if="errors.vickershardness">
                                            <strong>{{ errors.vickershardness.toString() }}</strong>
                                        </div>
                                    </div>
                                </div>

                                <!--Label: Image, Attributes: image-->
                                <div class="form-group col-md-6">
                                    <label for="image" class=" col-form-label">Image</label>
                                    <div class="">
                                        <!--<input type="file" name="img[]" class="file-upload-default">-->
                                        <input type="file" class="form-control dropbox" id="image"
                                               @change="imageChanged()"
                                               name="image"
                                               ref="uploadimage"
                                               :class="{ 'is-invalid' : errors.image }" autocomplete="off">
                                        <div class="invalid-feedback" v-if="errors.image">
                                            <strong>{{ errors.image.toString() }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click.prevent="editMaterial()" :disabled="adddingMaterial">
                            <i class="fa fa-save" :class="{'fa fa-spin fa-spinner': adddingMaterial}"></i>
                            Edit Material
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        name: "materialtable",
        props: {
            allmaterials: {

            },
        },
        data() {
            return {
                materials: this.allmaterials,
                errors: '',
                material: '',
                category: '',
                composition: '',
                appearance: '',
                structure: '',
                meltingpoint: '',
                boilingpoint: '',
                density: '',
                shearmodulus: '',
                youngsmodulus: '',
                bulkmodulus: '',
                id: '',
                _method: 'PUT',
                image: '',
                picture: '',
                formationenergy: '',
                bandgapenergy: '',
                mohshardness: '',
                vickershardness: '',
                deletingMaterial: [],
                adddingMaterial: false
            }
        },
        methods: {
            editMaterial() {
                var form = document.forms.namedItem("editmaterialform");
                var editData = new FormData(form);
                editData.append('id', this.id);
                this.adddingMaterial = true;
                axios.post('/admin/materialpost', editData).then(response => {
                    this.material = '';
                    this.category = '';
                    this.composition = '';
                    this.appearance = '';
                    this.structure = '';
                    this.meltingpoint = '';
                    this.boilingpoint = '';
                    this.density = '';
                    this.shearmodulus = '';
                    this.youngsmodulus = '';
                    this.bulkmodulus = '';
                    this.image = '';
                    this.formationenergy = '';
                    this.bandgapenergy = '';
                    this.mohshardness = '';
                    this.vickershardness = '';
                    this.adddingMaterial = false;
                    this.updateMaterials();
                    $('#exampleModal').modal('hide');
                }).catch(error => {
                    this.adddingMaterial = false;
                    this.errors = error.response.data.errors;
                });
            },
            updateMaterials() {
                let Self = this;
                axios.get('/api/materials').then(response=>{
                    Self.materials = response.data;
                });

            },

            imageChanged() {
                console.log(event.target.files[0]);
                editData.append('image',event.target.files[0])
                // this.image = event.target.files[0];

            },
            deleteMaterial(index, material) {
                Vue.set(this.deletingMaterial,index,true);
                axios.delete('/admin/addmaterial/' + material).then(response => {
                    Vue.set(this.deletingMaterial,index,false);
                    this.materials.splice(index, 1);
                }).catch(error => {
                    Vue.set(this.deletingMaterial,index,false);
                    this.errors = error.response.data.errors;

                });
            }
        },
        mounted() {
            let Self = this;

            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                Self.material = button.data('material'); // Extract info from data-* attributes
                Self.category = button.data('category'); // Extract info from data-* attributes
                Self.composition = button.data('composition'); // Extract info from data-* attributes
                Self.appearance = button.data('appearance'); // Extract info from data-* attributes
                Self.structure = button.data('structure'); // Extract info from data-* attributes
                Self.meltingpoint = button.data('meltingpoint'); // Extract info from data-* attributes
                Self.boilingpoint = button.data('boilingpoint'); // Extract info from data-* attributes
                Self.density = button.data('density'); // Extract info from data-* attributes
                Self.shearmodulus = button.data('shearmodulus'); // Extract info from data-* attributes
                Self.youngsmodulus = button.data('youngsmodulus'); // Extract info from data-* attributes
                Self.bulkmodulus = button.data('bulkmodulus'); // Extract info from data-* attributes
                Self.image = button.data('image'); // Extract info from data-* attributes
                Self.id = button.data('id'); // Extract info from data-* attributes
                Self.formationenergy = button.data('formationenergy'); // Extract info from data-* attributes
                Self.bandgapenergy = button.data('bandgapenergy'); // Extract info from data-* attributes
                Self.mohshardness = button.data('mohshardness'); // Extract info from data-* attributes
                Self.vickershardness = button.data('vickershardness'); // Extract info from data-* attributes

                var material = button.data('material'); // Extract info from data-* attributes
                var category = button.data('category'); // Extract info from data-* attributes
                var composition = button.data('composition'); // Extract info from data-* attributes
                var appearance = button.data('appearance'); // Extract info from data-* attributes
                var structure = button.data('structure'); // Extract info from data-* attributes
                var meltingpoint = button.data('meltingpoint'); // Extract info from data-* attributes
                var boilingpoint = button.data('boilingpoint'); // Extract info from data-* attributes
                var density = button.data('density'); // Extract info from data-* attributes
                var shearmodulus = button.data('shearmodulus'); // Extract info from data-* attributes
                var youngsmodulus = button.data('youngsmodulus'); // Extract info from data-* attributes
                var bulkmodulus = button.data('bulkmodulus'); // Extract info from data-* attributes
                var image = button.data('image'); // Extract info from data-* attributes
                var id = button.data('id'); // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);
                modal.find('.modal-title').text('Edit ' + material);
                modal.find('#material').val(material);
                modal.find('#category').val(category);
                modal.find('#composition').val(composition);
                modal.find('#appearance').val(appearance);
                modal.find('#structure').val(structure);
                modal.find('#meltingpoint').val(meltingpoint);
                modal.find('#boilingpoint').val(boilingpoint);
                modal.find('#density').val(density);
                modal.find('#shearmodulus').val(shearmodulus);
                modal.find('#youngsmodulus').val(youngsmodulus);
                modal.find('#bulkmodulus').val(bulkmodulus);
                // modal.find('#id').val(id)
            })

            $('#exampleModal').on('hide.bs.modal', function (event) {
                Self.material = '';
                Self.category = '';
                Self.composition = '';
                Self.appearance = '';
                Self.structure = '';
                Self.meltingpoint = '';
                Self.boilingpoint = '';
                Self.density = '';
                Self.shearmodulus = '';
                Self.youngsmodulus = '';
                Self.bulkmodulus = '';
                // Self.image = '';
                Self.formationenergy = '';
                Self.bandgapenergy = '';
                Self.mohshardness = '';
                Self.vickershardness = '';
                Self.adddingMaterial = false;
            });
        }
    }
</script>

<style scoped>

</style>
